<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://projecten2groep6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>projecten2groep6.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>projecten2groep6</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$projecten2groep6</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=MY_SQL_SERVER;Initial Catalog=MY_DATABASE_NAME;Persist Security Info=True;User ID=sa;Password=Mybl00dyPa$$" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DidactischeLeermiddelen.Models.ApplicationDbContext, DidactischeLeermiddelen" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DidactischeLeermiddelen" Order="2" Enabled="False">
          <Destination Path="Data Source=MY_SQL_SERVER;Initial Catalog=MY_DATABASE_NAME;Persist Security Info=True;User ID=sa;Password=Mybl00dyPa$$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DidactischeLeermiddelen.Models.DAL.DidactischeLeermiddelenContext, DidactischeLeermiddelen" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SqlServer" Order="3" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:projecten2.database.windows.net,1433;Initial Catalog=&quot;Didactische Leermiddelen&quot;;User ID=ManuSchoenmakers@projecten2;Password=projecten2Groep6;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlServer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:projecten2.database.windows.net,1433;Database=Didactische Leermiddelen;User ID=ManuSchoenmakers@projecten2;Password=projecten2Groep6;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=MY_SQL_SERVER;Initial Catalog=MY_DATABASE_NAME;Persist Security Info=True;User ID=sa;Password=Mybl00dyPa$$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DidactischeLeermiddelen-Web.config Connection String">
      <ParameterValue>Data Source=MY_SQL_SERVER;Initial Catalog=MY_DATABASE_NAME;Persist Security Info=True;User ID=sa;Password=Mybl00dyPa$$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlServer-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="DidactischeLeermiddelen" />
  </ItemGroup>
</Project>