@{
    ViewBag.Title = "Uw Reservaties";
}

<!--<div class="col-sm-offset-3 col-md-offset-4">-->
<div>
    <h2>U heeft momenteel geen @(User.IsInRole("Lector") ? "reservaties" : "blokkeringen")</h2>
    <p>@(User.IsInRole("Lector") ? Html.ActionLink("Reservaties maken?", "Index", "Verlanglijst") : Html.ActionLink("Blokkeringen maken?", "Index", "Verlanglijst"))</p>
</div>
