@{
    ViewBag.Title = "Uw Reservaties";
}

<!--<div class="col-sm-offset-3 col-md-offset-4">-->
<div>
    <h2>U heeft momenteel geen reservaties</h2>
    <p>@Html.ActionLink("Reservaties maken?", "Index", "Verlanglijst")</p>
</div>
