@using DidactischeLeermiddelen.Models.Domain
@{
    ViewBag.Title = User.IsInRole("Lector") ? "Blokkeringen" : "Reservaties";
}
<div>
    <h2>U heeft momenteel geen @(User.IsInRole("Lector") ? "blokkeringen" : "reservaties")</h2>
    <p>@Html.ActionLink("Reservaties maken?", "Index", "Verlanglijst")</p>
</div>
