@model DidactischeLeermiddelen.ViewModels.FirmaViewModel
    
<div class="col-sm-12 col-xs-12">
    <h1>Naam: @Html.DisplayFor(modelItem => Model.Naam)</h1>
    <h1>Email: @Html.DisplayFor(modelItem => Model.Email)</h1>
    <h1>Contactpersoon: @Html.DisplayFor(modelItem => Model.Contactpersoon)</h1>
    <h2>Adres: @Html.DisplayFor(modelItem => Model.Adres)</h2>

</div>
