@{
    ViewBag.Title = "Didactische leermiddelen : Uw verlanglijst";
}

<div class="col-sm-offset-3 col-md-offset-4">
    <h2>Uw verlanglijst is leeg.</h2>
    <p>@Html.ActionLink("Items toevoegen uit catalogus", "Index", "Catalogus")</p>
</div>