@{
    ViewBag.Title = "Home";
}


<div class="row divStartSchermXs">
    @* Catalogus *@
    <div class="col-md-4 text-center hidden-sm hidden-xs">
        <h2>Bekijk Catalogus</h2>
        <img src="~/Content/Images/zoeken.jpg" class="home-img" alt="zoeken"/>
        <p><a class="btn btn-default btn-green" href="/Catalogus/Index">Catalogus &raquo;</a>
        </p>
    </div>
    <div class="hidden-lg hidden-md col-sm-4 col-xs-12 mobile-home-item">
        <h2>Bekijk Catalogus</h2>
        <img src="~/Content/Images/zoeken.jpg" class="home-img" alt="zoeken" />
        <p>
            <a class="btn btn-default btn-green" href="/Catalogus/Index">Catalogus &raquo;</a>
        </p>
    </div>

    <div class="col-md-4 text-center hidden-sm hidden-xs">
        <h2>Bekijk Verlanglijst</h2>
        <img src="~/Content/Images/catalogus.png" class="home-img" alt="catalogus"/>
        <p><a class="btn btn-default btn-green" href="/Verlanglijst">Verlanglijst &raquo;</a>
        </p>
    </div>
    <div class="hidden-lg hidden-md col-sm-4 col-xs-12 mobile-home-item">
        <h2>Bekijk Verlanglijst</h2>
        <img src="~/Content/Images/catalogus.png" class="home-img" alt="catalogus"/>
        <p>
            <a class="btn btn-default btn-green" href="/Verlanglijst">Verlanglijst &raquo;</a>
        </p>
    </div>

    <div class="col-md-4 text-center hidden-sm hidden-xs">
        <h2>Bekijk @(User.IsInRole("Lector") ? "Blokkeringen" : "Reservaties")</h2>
        <img src="~/Content/Images/reservaties.png" class="home-img" alt="reservaties"/>
        <p><a class="btn btn-default btn-green" href="/Reservatie">@(User.IsInRole("Lector") ? "Blokkeringen" : "Reservaties") &raquo;</a>
        </p>
    </div>
    <div class="hidden-lg hidden-md col-sm-4 col-xs-12 mobile-home-item">
        <h2>Bekijk @(User.IsInRole("Lector") ? "Blokkeringen" : "Reservaties")</h2>
        <img src="~/Content/Images/reservaties.png" class="home-img" alt="reservaties" />
        <p>
            <a class="btn btn-default btn-green" href="/Reservatie">@(User.IsInRole("Lector") ? "Blokkeringen" : "Reservaties") &raquo;</a>
        </p>
    </div>
</div>